@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Mulish:wght@300;400;500;600;700;800&family=Murecho&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #56CBF9;
    --secondary-color: #7FBEEB;
    --accent1-color: #eac5d842;
    --accent2-color: #DBD8F0;

    --heading-font: "Poppins", sans-serif, serif;
    --paragraph-font: "Murecho", sans-serif, serif;

    --nav-background-color: #DBD8F0;
    --nav-link-color: #000;
    --nav-hover-link-color: #000000c5;
    --nav-hover-background-color: #dbd8f0a8;
}

body {
    max-width: 1240px;
    margin: 20px auto;
    font-family: poppins;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 2fr;
    place-items: center;
    align-items: center;
    /* border-bottom: 1px solid #ccc; */
    max-width: 1000px;
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

.div {
    background-color: #000;
    background-image: url("../images/rafthero.webp");
    width: 100%;
    height: 50px;
}

nav {
    text-align: right;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
}

.navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

.about .hero {
    /* background-color: #000; */
    background-image: url("../images/rafthero.webp");
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    object-fit: cover;
    margin: 0 auto;
    max-width: 1000px;
}


.about .hero h1 {
    text-align: center;
}

.about .hero article {
    /* position: absolute; */
    background-color: var(--secondary-color);
    height: 30%;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.about .hero article img {
    float: right;
    width: 70px;
    height: auto;
}

.adventure h2 {
    text-align: center;
}

.adventure img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.adventure figure {
    margin-right: auto;
}

.adventure div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.contact-form ul {
    list-style: none;
}

.contact-form button {
    text-align: center;
    padding: 5px 100px;
    margin: 0 auto;
    background-color: var(--nav-background-color);
    border: none;
    color: black;
}

.contact-form button:hover {
    opacity: .6;
    cursor: pointer;
}

.map iframe {
    border: 0;
}

.contact figure img {
    height: auto;
    width: 200px;
}

.contact .employee {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact h2 {
    margin-top: 40px;
}

footer {
    display: flex;
    margin: 0 auto;
    max-width: 800px;
    justify-content: space-between;
    align-items: center;
}

.trip,
.home {
    margin: 0 auto;
    max-width: 1000px;
}

.trip button {
    background-color: var(--primary-color);
    padding: 10px 40px;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.trip button:hover {
    background-color: var(--secondary-color);
}

hr {
    border-top: 1px solid grey;
    border-bottom: none;
    margin: 50px 0;
}

.trip>.catalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.trips-table {
    column-gap: 10px;
}


.trips-table {
    border-collapse: collapse;
    width: 100%;
}

.trips-table td,
.trips-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.trips-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.trips-table tr:hover {
    background-color: #ddd;
}

.trips-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.catalogue>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.catalogue>div:last-child {
    margin-right: auto;
    margin-left: 30px;
}

.catalogue img {
    width: 200px;
    height: auto;
    object-fit: cover;
}

/* -------HOME-------------------------- */

.home>h1 {
    background-image: url(../images/rafthero.webp);
    text-align: center;
    object-fit: cover;
    padding: 90px 0;
    background-position: center;
    filter: blur(.3px);
    color: white;
}

.home form {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 20px;
    flex-direction: column;
    width: 40%;
    margin: 20px auto;
}

.home form label {
    font-size: 24px;
    outline: none;
    border: none;
}

.home form input {
    padding: 5px;
    border-radius: 4px;
}

.home form button {
    padding: 8px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.home .features img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.home .features {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 70px;
}

.home>.hero button {
    padding: 8px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.home>.hero button:hover,
.home form button:hover {
    opacity: .7;
}